$color_brand: #fcc680;
$color_code_background: #eaeaea;
$color_background: #fafafa;
$color_header_primary_background: #955164;
$color_header_primary_link: #fff;
$color_header_secondary_background: #ececec;
$color_header_secondary_dropdown_background: #f0f0f0;
$color_header_secondary_link: #484848;
$color_header_secondary_text: #999;
$color_info_badge: #f8f0e8;
$color_inspector_background: #f0f0f0;
$color_inspector_element_type: #b3b3b3;
$color_inspector_node: #bbb;
$color_inspector_value: green;
$color_link: #cca366;
$color_text: #3f3f3f;
$color_text_faded: #ccc;
