@import './colors.scss';

.boundary {
  margin: 0 auto;
  max-width: 1280px;
}

.logo {
  max-width: 1.5em;
  height: auto;
}

.logo_headline {
  @extend h2;

  color: $color_text;
}

.logo_parade {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, 5em);
}

.brand {
  color: $color_brand;
  font-weight: 700;
}

.footer {
  color: $color_text_faded;
  font-size: 0.85em;
  margin: 3em 0;
  text-align: center;
}

.footer a {
  color: $color_text_faded;
}

#code {
  height: 300px;
  width: 100%;
}

#editor {
  height: 300px;
  width: 100%;
}

div[class^="columns-"] {
  display: grid;
  grid-gap: 2em;
}

@media (min-width: 450px) {
  .columns-4 {
    grid-template-columns: 1fr 1fr;
  }

  .columns-5 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 720px) {
  .columns-3 {
    grid-template-columns: 1fr 1fr;
  }

  .columns-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .columns-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .columns-2 {
    grid-template-columns: 1fr 1fr;
  }

  .columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .columns-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.docs {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 12em auto;
  margin-top: 2em;

  .class {
    border-left: 0.25em solid $color_text;
    margin-top: 3em;
    padding-left: 0.25em;
  }

  .main {
    min-width: 0;
  }

  .pad {
    margin: 1em 0;
  }

  p {
    line-height: 140%;
    text-align: justify;

    code {
      background-color: $color_code_background;
      padding: 0.25em;
    }
  }

  blockquote {
    background-color: $color_info_badge;
    margin: 0;
    padding: 1em;

    p {
      margin: 0;
    }
  }
}

.extension {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5em 1em;
  font-size: 0.8em;
  color: $color_text_faded;
}

.padding {
  padding: 0 1em;
}
