body {
  background-color: #fafafa;
  color: #383a42;
}

body, textarea {
  font-size: 18px;
}

a {
  color: #ff5370;
  text-decoration: none;
}

header {
  padding: 2em 2em 0 2em;
}

#editor {
  height: 500px;
  width: 100%;
}

.input, .output {
  padding: 2em;
  width: 50%;
}

.split {
  display: flex;
}
