/* colors */

:root {
  --color-input-background: #282c34;
  --color-input-text: #abb2bf;
  --color-output-background: #202020;
  --color-output-text: #e6e6e6;
}

/* icons */

/* TODO: Expand with icons for better selects */

@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.woff2?102720') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dropdown:before { content: '\e800'; } /* '' */
.icon-fold:before { content: '\e801'; } /* '' */
.icon-unfold:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-no-folding:before { content: '\f111'; } /* '' */

/* layout */

body {
  background-color: #e1e1db;
  height: 100vh;
}
h1 {
  margin: 0;
  text-align: right;
}
#code {
  border-radius: .17em;
  height: 100%;
  width: 100%;
}
#input {
  background-color: var(--color-input-background);
  color: var(--color-input-text);
  border-radius: .17em;
  height: 50%;
  margin-bottom: 1em;
  padding: 1em;
}
#output {
  background-color: var(--color-output-background);
  color: var(--color-output-text);
  border-radius: .17em;
  height: 50%;
  margin: 0;
  padding: 1em;
}
.application {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.code {
  border: 1px solid #bbb;
  border-radius: .17em;
  margin-right: 1em;
  width: 50%;
}
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.site {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2em);
  padding: 1em;
}
.split {
  display: flex;
  flex-grow: 1;
}

/* eno */
/* TODO: Probably not needed here */

.eno-report {
  border: 1px solid #888;
  white-space: pre;
}
.eno-report-content { padding-left: 1em; }
.eno-report-gutter {
  background-color: rgba(128, 128, 128, 0.1);
  border-right: 1px solid #888;
  padding-right: 1em;
}
.eno-report-line { display: flex; }
.eno-report-line-emphasized { background-color: rgba(255, 0, 0, 0.4); }
.eno-report-line-indicated { background-color: rgba(255, 181, 0, 0.4); }
.eno-report-line-questioned { background-color: rgba(0, 210, 255, 0.4); }
