:root {
  --color-inspector-background: #282c34;
  --color-inspector-element-type: #645d5d;
  --color-inspector-key: #e06c75;
  --color-inspector-node: #5c6370;
  --color-inspector-value: #abb2bf;
}
body {
  background-color: #e1e1db;
  height: 100vh;
}
h1 {
  margin: 0;
  text-align: right;
}
#code {
  border-radius: .17em;
  height: 100%;
  width: 100%;
}
#editor {
  border-radius: .17em;
  height: 100%;
  width: 100%;
}
.editor {
  border: 1px solid #bbb;
  border-radius: .17em;
  margin-right: 1em;
}
.editor, .inspector { width: 50%; }
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.site {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2em);
  padding: 1em;
}
.split {
  display: flex;
  flex-grow: 1;
}

.inspector {
  background-color: var(--color-inspector-background);
  border-radius: .17em;
  color: var(--color-inspector-value);
  padding: 1em;
}
.comment { color: #0b9696; }
.element_type { color: var(--color-inspector-element-type); }
.key { color: var(--color-inspector-key); }
.node {
  margin-right: .3em;
  max-width: .9em;
  vertical-align: middle;
}
.value { color: var(--color-inspector-value); }

/* eno */
.eno-report {
  border: 1px solid var(--color-inspector-value);
  white-space: pre;
}
.eno-report-content { padding-left: 1em; }
.eno-report-gutter {
  background-color: rgba(128, 128, 128, 0.1);
  border-right: 1px solid var(--color-inspector-value);
  padding-right: 1em;
}
.eno-report-line { display: flex; }
.eno-report-line-emphasized { background-color: rgba(255, 0, 0, 0.4); }
.eno-report-line-indicated { background-color: rgba(255, 181, 0, 0.4); }
.eno-report-line-questioned { background-color: rgba(0, 210, 255, 0.4); }
