$brand: #ffc00b;
$code_background: #eaeaea;
$background: #fafafa;
$header_primary_background: #202020;
$header_primary_link: #fff;
$header_secondary_background: #ececec;
$header_secondary_dropdown_background: #f0f0f0;
$header_secondary_link: #484848;
$header_secondary_text: #999;
$info_badge: #f8f0e8;
$inspector_background: #f0f0f0;
$inspector_element_type: #b3b3b3;
$inspector_node: #bbb;
$inspector_value: green;
$link: #cca366;
$text: #3f3f3f;
$text_faded: #ccc;
