.menu {
  align-items: center;
  display: flex;

  &.compact {
    @media (min-width: 441px) {
      display: none;
    }
  }

  &.wide {
    @media (max-width: 440px) {
      display: none;
    }
  }

  & > * {
    padding: 0.5em;
  }
}

.menu__breadcrumbs {
  color: #999;
  font-size: 0.8em;

  a {
    color: #ccc;
  }
}

.menu__dropdown {
  display: none;
  flex-direction: column;

  &.active {
    display: flex;
  }

  & > * {
    padding: 0.25em 0.5em;

    &:first-child {
      padding-top: 0.5em;
    }

    &:last-child {
      padding-bottom: 0.5em;
    }

    &:hover {
      background-color: $color_header_secondary_dropdown_background;
    }
  }
}

.menu__spacer {
  flex-grow: 1;
}

.menu__text {
  color: $color_header_secondary_text;
}

.menu__toggle {
  flex-grow: 1;
}

@media (max-width: 690px) {
  .menu__text {
    display: none;
  }
}

.header__primary {
  background-color: $color_header_primary_background;
  font-size: 1.2em;
}

.header__primary .menu__link {
  color: $color_header_primary_link;
}

.header__primary .menu__link.active {
  font-weight: 600;
}

.header__secondary {
  background-color: $color_header_secondary_background;
}

.header__secondary .menu__link {
  color: $color_header_secondary_link;
}

.header__secondary .menu__link.active {
  font-weight: 600;
}
