@use 'colors';

.inspector {
  background-color: colors.$inspector_background;
  padding: 0.5em;
}

.inspector__comment {
  color: #0b9696;
}

.inspector__element_type {
  color: colors.$inspector_element_type;
}

.inspector__node {
  color: colors.$inspector_node;
}

.inspector__value {
  color: #49960b;
}
