@use 'colors';

.boundary {
  margin: 0 auto;
  max-width: 1280px;
}

.logo {
  max-width: 1.5em;
  height: auto;
}

.logo_headline {
  align-items: center;
  color: colors.$text;
  display: flex;
  font-weight: 600;
  font-size: 1.2em;

  & img {
    padding-right: 0.5em;
  }
}

.logo_parade {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, 5em);

  a {
    align-items: center;
    display: flex;
  }
}

.brand {
  color: colors.$brand;
  font-weight: 700;
}

footer {
  color: colors.$text_faded;
  font-size: 0.85em;
  margin: 3em 0;
  text-align: center;
}

footer a {
  color: colors.$text_faded;
}

.footnotes {
  color: colors.$text_faded;
  font-size: 0.85em;
  margin-top: 3em;
}

#code {
  height: 300px;
  width: 100%;
}

#editor {
  height: 300px;
  width: 100%;
}

div[class^="columns-"] {
  display: grid;
  grid-gap: 2em;
}

@media (min-width: 450px) {
  .columns-4 {
    grid-template-columns: 1fr 1fr;
  }

  .columns-5 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 720px) {
  .columns-3 {
    grid-template-columns: 1fr 1fr;
  }

  .columns-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .columns-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .columns-2 {
    grid-template-columns: 1fr 1fr;
  }

  .columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .columns-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.docs {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 12em auto;
  margin-top: 2em;

  .class {
    border-left: 0.25em solid colors.$text;
    margin-top: 3em;
    padding-left: 0.25em;
  }

  .main {
    min-width: 0;
  }

  .pad {
    margin: 1em 0;
  }

  .sidebar {
    font-size: 0.9em;
  }

  p {
    line-height: 140%;
    text-align: justify;

    code {
      background-color: colors.$code_background;
      padding: 0.25em;
    }
  }

  blockquote {
    background-color: colors.$info_badge;
    margin: 0;
    padding: 1em;

    p {
      margin: 0;
    }
  }
}

.extension {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5em 1em;
  font-size: 0.8em;
  color: colors.$text_faded;
}

.header_offset {
  padding-top: 3em !important;
}

.indented {
  padding-left: 1em;
}

.info_badge {
  background-color: colors.$info_badge;
  padding: 1em;
}

.margin {
  margin: 1em 0;
}

.padding {
  padding: 0 1em;
}

.poster {
  margin-top: 3em;

  .headline {
    align-items: center;
    display: flex;
    font-size: 2.6em;
    font-weight: 600;
    margin-bottom: -0.2em;

    img {
      width: 0.6em;
    }

    a:not(:first-child) {
      padding-left: 0.2em;
    }
  }

  .details {
    max-height: 1300px;
    overflow: hidden;
    transition: max-height 0.3s;

    &.folded {
      max-height: 0;
    }
  }
}

.retractable {
  max-height: 200px;
  overflow: hidden;
}
